{% extends "./risk_register_base.html" %}
{% load static %}

{% block nav_title %}Risk{% endblock nav_title %}

{% block more_scripts %}
{{block.super}}

<script type="text/javascript">
        k = undefined;
        $(document).ready(()=>{
            let prob, impact;
            const max_rating = 4 * 4;
            const rmap = ['', 'cyan', 'green', 'yellow', 'orange', 'red'];

            function addIndicatorToProbOrImpact(e){
                // e better be a jquery object
                e.removeClass(['s1', 's2', 's3', 's4', 's5'])
                e.addClass('s' + String(e.val() || 0));
            }

            function getRatingColor(prob, impact){
                const colors = ['teal', 'cyan', 'green', 'yellow',  'red'];
                const ranges = [
                    [1,2],    // cyan very_low
                    [3,3],    // green low  
                    [4,9],    // medium yellow  
                    [10,12],  // high orange
                    [15,16],  // very high red
                    [20,25],  // extreme oxblood
                ]
                const rating = prob * impact;

                if (prob == impact && (prob == 2 || prob == 3)){
                    return colors[1];
                }else {
                    let i = 0;
                    for(let [a, b] of ranges){
                        if(a <= rating && rating <= b){
                            return colors[i];
                        }
                        i++;
                    }
                }
            }

            $('.with-indicator select').on('change', (e)=>{
                addIndicatorToProbOrImpact($(e.target));
            });

            // handle rating slider
            {
                const prob = $('#probability');
                const impact = $('#impact');
                const rating_score = $('#rating-score');

                addIndicatorToProbOrImpact(prob);
                addIndicatorToProbOrImpact(impact);

                const ratingSlider = $('.rating');

                function changeRating(a, b, ratingSlider){
                    a = Number(a)
                    b = Number(b)
                    r = (a * b) / max_rating * 100;
                    const slider = ratingSlider.find('.inside');
                    const sliderColor = `var(--bs-${getRatingColor(a, b)})`;

                    slider.css({
                        transform: `translateX(${-100+r}%)`,
                        backgroundColor: sliderColor,
                    })
                    rating_score.html(`${r}%`);
                }

                function changeSlider(prob, impact, ratingSlider){
                    if(prob && impact){
                        changeRating(prob, impact, ratingSlider)
                    }
                }

                prob.on('change', (e)=> changeSlider(
                    e.target.value, 
                    impact.val(),
                    ratingSlider,
                ));
                impact.on('change', (e)=> changeSlider(
                    prob.val(), 
                    e.target.value,
                    ratingSlider,
                ));

                // TODO 
                // wait until loader has finished loading
                changeSlider(prob.val(), impact.val(), ratingSlider);


                // synch nice looking is_closed checkbox with check box within the form
                 nice_check = document.querySelector('#nice_checkbox');
                 other_check = document.querySelector('#is_closed');
                 const stat = $('#stat');
                 const s = ['Closed', 'Opened']

                nice_check.addEventListener('click', ()=> {
                    other_check.checked = !nice_check.checked;
                    stat.html(s[Number(!other_check.checked)]);
                });
                other_check.addEventListener('click', ()=>{
                    nice_check.checked = !other_check.checked;
                    stat.html(s[Number(nice_check.checked)]);
                });
                nice_check.checked = !other_check.checked;
                stat.html(s[Number(nice_check.checked)]);
            }
        });
</script>

{% endblock %}

{% block main_content %}

<style type="text/css">
    .d-none-soft{
        display: none;
    }
    .with-indicator select + .btn::before {
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 50%;
      padding: 0px !important;
      margin: 0px;
      position: absolute;
      right: 10%;
    }

    .with-indicator select.s1 + .btn::before {
      background-color: var(--bs-cyan) !important;
    }
    .with-indicator select.s2 + .btn::before {
      background-color: var(--bs-green) !important;
    }
    .with-indicator select.s3 + .btn::before {
      background-color: var(--bs-yellow) !important;
    }
    .with-indicator select.s4 + .btn::before {
      background-color: var(--bs-orange) !important;
    }
    .with-indicator select.s5 + .btn::before {
      background-color: var(--bs-red) !important;
    }
    .risk-form.closed .card-body::before {
      content: "";
      width: 100%;
      height: calc(100% - 87px);
      display: block;
      position: absolute;
      top: 87px;
      left: 0;
      z-index: 3;
      background: rgba(17, 18, 23, 0.22); /* Semi-transparent background */
      backdrop-filter: blur(10px); /* Apply blur to background */
      -webkit-backdrop-filter: blur(10px); /* Safari support */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
      border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
    }
    .rating{
        padding: 0!important;
        height: 3px;
        width: 100%;
        border-radius: 3px;
        background-color: rgb(230, 230, 230);
        overflow: hidden;
    }
    .rating .inside{
        height: 100%;
        width: 100%;
        background-color: blue;
        transition: transform ease-out 1s, background-color linear .5s;
        display: block;
        transform: translateX(-100%);
    }
    [data-theme-version="dark"] .rating {
      background-color: #333a54 !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-12">
            <div class="card risk-form">
                <div class="card-header">
                    <h4 class="card-title">Add Risk</h4>

                    {% if user.is_super_admin %}
                    <div class="pull-right d-flex" style="align-items: center;">
                        <div style="margin-top:-10px; padding-right: 10px !important" id="stat">Closed</div>
                        <label class="switch pull-right">
                            <input type="checkbox" id="nice_checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                    {% endif %}


                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form method='post' action=''>
                            {% csrf_token %}
                            <p>{% for message in messages %}{{message}}{% endfor %}</p>
                                                        {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul class="mb-0">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="risk_description">Risk Description <span class="text-danger">*</span></label>
                                {{ form.risk_description }}
                            </div>
                            <div class="form-group">
                                <label for="risk_type">Risk Type <span class="text-danger">*</span></label>
                                {{ form.risk_type }}
                            </div>  

                            <div class="row">
                                <div class="col-md-6 col-12 with-indicator">
                                    <label for="probability">Probability <span class="text-danger">*</span></label>
                                    {{ form.probability }}
                                </div>
                                <div class="col-md-6 col-12 with-indicator mt-3 mt-md-0">
                                    <label for="impact">Impact <span class="text-danger">*</span></label>
                                    {{ form.impact }}
                                </div>
                            </div>

                            <div class="px-1 m-0 mt-4">
                                <label>Rating <span id="rating-score"></span></label>
                                <div class="rating form-group"><div class="inside"></div></div>
                            </div>
                                <div class="form-group">
                                    <label for="risk_owner">Owner <i class="fa fa-user"></i> <span class="text-danger">*</span></label>
                                    {{ form.risk_owner }}
                                    <a href="{% url 'risk_register:dept_create' %}" class="pull-right small">+ Create Dept</a>
                                </div>

                            {% if user.is_super_admin %}
                                <div class="form-group mt-4">
                                    <label for="risk_response">Risk Response</label>
                                    {{ form.risk_response }}
                                </div>
                                <div class="form-group">
                                    <label for="risk_budget">Budget</label>
                                    <div class="d-flex budget-input">
                                        {{ form.risk_budget }}
                                    </div>
                                </div>
                                <div class="form-group d-none">
                                    <label for="is_closed">Closed</label>
                                    {{ form.is_closed }}
                                </div>
                            {% endif %}

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Extra small devices (portrait phones, less than 576px) */
    /* No media query since this is the default in Bootstrap */
    #risk_budget_0{
            /* input */
            border-radius: 10px 0 0 10px;
            height: auto;
            flex-grow: 1;
        }
        #risk_budget_0 + div{
            width: 123px;
        }
        .budget-input .dropdown-toggle{
            /* btn dropdown trigger */
            border-radius: 0 10px 10px 0;
            height: 100%;
        }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {

    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
    /* md upwards */
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
    /* lg upwards */
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
    /* xl upwards */
    }

    /* XXL devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {
    /* xxl upwards */
    }
</style>
{% endblock main_content %}


