{% extends "./risk_register_base.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block nav_title %}Risk{% endblock nav_title %}


{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> <img src="{% static "icons/search-3d.png" %}" style="height:30px;"> Risk</h4>
                    <div class="d-flex align-items-stretch">
                        <div class="mr-2"><a class="btn  btn-sm " href="{% url 'risk_register:risk_excel' %}"><img src="{% static 'icons/excel1.png' %}" style="width: 29px;"></a></div>
                        <form>
                            <div class="input-group search-area me-3">
                              <span class="input-group-text" id="header-search">
                                    <button class="bg-transparent border-0">
                                        <i class="flaticon-381-search-2"></i>
                                    </button>
                              </span>
                              <input type="text" id="search_string" name="search_string" class="form-control " placeholder="Search here" title="Search for risks">
                            </div>
                        </form>
                        <div style="width: 47.2333px; height: 43px;">
                            <button id="filter-btn" class="btn btn-primary btn-sm" title="filter" style="height: 100%;"><i class="flaticon-381-controls-3"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="filter-tools mb-4 show">
                        <div class="basic-form">
                            <form>

                                <div class="row">
                                    <!-- <div class="form-group col-md-6">
                                        <label>Name</label>
                                        <input type="text" class="form-control" placeholder="John">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div> -->
                                    <div class="col-4 col-sm-3">
                                        <label class="small" for="risk_type">Risk type:</label>
                                        {{ form.risk_type }}
                                    </div>
                                    <div class="col-4 col-sm-3">
                                        <label class="small" for="probability">Probability:</label>
                                        {{ form.probability }}
                                    </div>
                                    <div class="col-4 col-sm-3">
                                        <label class="small" for="impact">Impact:</label>
                                        {{ form.impact }}
                                    </div>
                                    <div class="col-sm-3 mt-3 mt-sm-0">
                                        <label class="small" for="is_closed">Closed:</label>
                                        {{ form.is_closed }}
                                    </div>
                                    <script type="text/javascript">
                                        var CURRENT_PAGE_NUMBER = "#{{ page_obj.number }}";
                                        const RISK_TYPE_ID = "#{{ form.risk_type.auto_id }}";
                                        const PROBABILITY_ID = "#{{ form.probability.auto_id }}";
                                        const IMPACT_ID = "#{{ form.impact.auto_id }}";
                                        const IS_CLOSED_ID = "#{{ form.is_closed.auto_id }}";
                                    </script>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped verticle-middle table-responsive-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Risk Description</th>
                                    <th scope="col">Risk Type</th>
                                    <th scope="col">Probability</th>
                                    <th scope="col">Impact</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Risk Owner</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date Raised</th>
                                    {% if user.is_super_admin %}<th scope="col" class="text-center">Action</th>{% endif %}
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                {% for risk in risks %}
                                    <tr>
                                        <td title="{{risk.risk_description}}"><a href="{% url 'risk_register:risk_update' risk.id %}">{{ risk.risk_description|trim:"30" }}</a></td>
                                        <td>{{ risk.risk_type }}</td>
                                        <td><span class="badge badge-primary badge-sm light" style="color: #5f6063; background-color: {{ risk.get_prob_color }}!important;">{{ risk.get_prob_label }}</span></td>
                                        <td><span class="badge badge-primary badge-sm light" style="color: #5f6063; background-color: {{ risk.get_impact_color }}!important;">{{ risk.get_impact_label }}</span></td>
                                        <td title="{{ risk.rating_info.tag }}">
                                            <div class="progress" style="background: rgba(76, 175, 80, .1)" >
                                                <div class="progress-bar bg-success" style="width: {{ risk.rating_percent }}%; background-color: {{ risk.rating_info.color }}!important;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center p-0" title="{{risk.risk_owner.description}}"><a href="{% url 'risk_register:dept_read' risk.risk_owner.id %}" class="w-100 h-100 m-0 my-0" style="display: block !important; ">{{ risk.risk_owner }}</a></td>
                                        <td>{% if risk.is_closed %}
                                            <span class="badge badge-light light badge-sm">Closed</span>
                                            {% else %}
                                            <span class="badge badge-primary light badge-sm">Opened</span>
                                            {% endif %}</td>
                                        <td><a href="javascript:void(0)" class="show-in-date-picker" data-datepicker-date="{{ risk.date_opened|date:"Y-m-d" }}" title="{{risk.date_opened|naturaltime}}" >{{ risk.date_opened }}</a></td>
                                        {% if user.is_super_admin %}
                                            <td class="text-center ">
                                                <div class="d-flex" style="justify-content: space-around;">
                                                    <span><a
                                                            href="javascript:void(0)" data-bs-toggle="tooltip"
                                                            data-placement="top" title="Delete"><i
                                                                class="fas fa-times color-danger confirm-click" data-confirm-target-url="{% url 'risk_register:risk_delete' risk.id %}" data-confirm-text=""></i></a></span>
                                                    <a href="{% url 'risk_register:risk_update' risk.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="8" class="text-center">No risks available.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div  class="w-100" style="overflow: auto!important;">
                        <nav aria-label="Page navigation" id="risk_list_pagination">
                            <ul class="pagination justify-content-end mb-0">
                                <!-- Previous Page -->
                                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                    <a class="page-link" data-page-number="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" tabindex="-1">Previous</a>
                                </li>

                                <!-- Page numbers -->
                                {% for page_num in paginator.page_range %}
                                    {% if page_num == page_obj.number %}
                                        <!-- Current Page -->
                                        <li class="page-item active">
                                            <a class="page-link" data-page-number="{{ page_num }}" href="#">{{ page_num }} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% else %}
                                        <!-- Other Pages -->
                                        <li class="page-item">
                                            <a class="page-link" data-page-number="{{ page_num }}" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                <!-- Next Page -->
                                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                    <a class="page-link" data-page-number="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}


{% block more_scripts %}
    {{ block.super }}
    <!-- more scripts -->


{% endblock %}

{% block more_head %}
    {{ block.super }}
    <link href="vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    <!-- Add Flatpickr CSS with material blue theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <style>
        .flatpickr-calendar.open {
            z-index: 1060 !important; /* Ensure calendar appears above Bootstrap modal */
        }
    </style>
{% endblock more_head %}
